{% extends 'shared/base.html'%}
{% load static %}

{%block content %}
            <section class="galeria" style="margin-left: 5em">
                <form action="{% url 'login' %}" method="POST">
                    <!--csrf_token - dentro da tag form, importante para garantir a segurança das informações que eu estive passando pelo formulário -->
                    {% csrf_token %}
                    <div class="row">
                        {% for field in form.visible_fields %}
                            <div class="col-12 col-lg-12" style="margin-bottom: 10px;">
                                <label for="{{ field.id_for_label }}" style="color:#D9D9D9; margin-bottom: 5px;">{{field.label}}</label>
                                {{field}}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-success col-12" style="padding: top 5px;">Logar</button>
                    </div>
                </form>
                
                <!-- 
                Neste ponto da tela de login vamos implementar uma área para a funcionalidade de se logar com o github 
                -->
                <div>
                    <h2>Autenticação com OAuth 2.0</h2>
                    <div class="social-media-details">
                        <a href="http://localhost:8000/accounts/github/login/?process=login">
                            <img src="{% static '/assets/logo/github.svg' %}" alt="Ícone para realizar autenticação com o GitHub">
                        </a>
                        <p>GitHub</p>
                    </div>
                </div>
            </section>
            
        </main>
    </div>
</body>
{% endblock %}